
.footer{
    position: absolute;
    bottom: 0;
    height: 3rem;
    width: 100%;
    text-align: center;
    
    color: white;
}

.fh3{
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}