.products{
    color: white;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
   
}
.ch3{
    color: white;   
    font-size: 2rem;
    width: 10%;
    margin-left: 43rem;
}

.products ul li {
    display: inline-block;
    border: 1px solid blue;
    padding: 15px;
    width: 150px;
    color: white;
    justify-content: center;
    align-items: center;
}
.libtn{
    background: none;
    color: beige;
    text-shadow: 1px 1px 1px blue;
    cursor: pointer;
}

.search{
        width: 400px;
        margin: 20px;
        height: 30px;
        padding-left: 20px;
        border: 1px solid blue;
        border-radius: 10px;
        background: none;
        color: wheat;
}


.ch3:hover{
    filter: drop-shadow(1px 1px 1px rgb(192, 232, 33));
    color:  rgb(180, 214, 87);
}

.products ul li:hover{
    filter: drop-shadow(1px 1px 1px rgb(192, 232, 33));
    color:  rgb(180, 214, 87);
}

.libtn:hover{
    filter: drop-shadow(1px 1px 1px rgb(192, 232, 33));
    color:  rgb(180, 214, 87);
}
.search:hover{
    filter: drop-shadow(1px 1px 1px rgb(192, 232, 33));
    color:  rgb(180, 214, 87);
}