.uproduct {
    position: absolute;
    margin: 10px;
    margin-left: 38%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(10px 10px 15px skyblue);
    border: 2px solid skyblue;
    box-shadow: 10px 5px 10px skyblue;
    height: 500px;


    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: white;
    opacity: 0.9;

}

.uh1 {
    color: skyblue;
    margin: 10px;
    margin-left: 20%;
    text-shadow: 2px 2px 2px skyblue;
}


.inu {
    display: block;
    height: 150px;
    width: 300px;
    text-align: center;
}

.iu1 {
    margin: 15px;
    margin-top: 8%;
    height: 30px;
    width: 70%;
    border: 1px solid skyblue;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0 0 8px rgba(76, 196, 223, 0.8);
}

.iu2 {
    margin: 15px;
    margin-top: 8%;
    height: 30px;
    width: 70%;
    border: 1px solid skyblue;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0 0 8px rgba(76, 196, 223, 0.8);
}

.iu3 {
    margin: 15px;
    margin-top: 8%;
    height: 30px;
    width: 70%;
    border: 1px solid skyblue;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0 0 8px rgba(76, 196, 223, 0.8);
}

.iu4 {
    margin: 15px;
    margin-top: 8%;
    height: 30px;
    width: 70%;
    border: 1px solid skyblue;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0 0 8px rgba(76, 196, 223, 0.8);
}
.updbtn {
    text-align: center;
    margin-top: 50px;
    height: 2rem;
    width: 10rem;
    border-radius: 10rem;
    border: 1px solid blue;
    cursor: pointer;
    background-color: rgb(79, 199, 212);


}

.updbtn:hover {
    background-color: rgb(82, 154, 243);
}